.main-bar {
    padding: 10px 5px 5px 10px;
    color: $foreground;

    font-family: $font;
    font-weight: bold;
}

.block {
    color: $black_soft;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    background-color: $black;
    padding: 0px 10px;
}

.launcher {
    color: $red;
    background-color: $black;
    // font-family: $icon-font;
    // font-size: 16px;
    // label {
        //   margin-top: 4px;
        //   margin-left: -1px;
    // }
}

.workspaces {
    color: $foreground;
    padding: 0px 5px;
    button {
        padding: 0px 5px;
    }
    .active-ws {
        color: $coral_soft;
    }
    .ws {
        color: $black_soft;
        font-weight: normal;
    }
}



.seperator{
}

.mode {
    color: $magenta_soft;
    .mode-entered { 
        margin-left: 10px;
        font-size: 0.8em;
    }
}

.date{
    font-size: 0.8em;
}

.tray {
    color: $dark;
    font-size: 1.2em;

    padding: 0px;
    button {
        padding: 0px 10px;
    }
    label {
        margin-top: 5px;
        margin-left: -5px;
    }
}

.hover_tray {
    color: $foreground;
}
