$background: #0a0b11;
$foreground: #DFDFDE;

$black:     #212121;

$gray:      #DFDFDE;
$red:       #E95678;
$green:     #09f7a0;
$yellow:    #E0AF68;
$blue:      #7AA2F7;
$magenta:   #BB9AF7;
$cyan:      #7DCFFF;
$coral:     #F09383;
$dark:      $background;
$white:     $foreground;


//[colors:soft]
$black_soft:   lighten($black, 40%);
$magenta_soft: lighten($magenta, 10%);
$green_soft:   #73DACA;
$coral_soft:   lighten($coral, 25%);

$secondary: #6272a4;
$danger:    #ff5555;
$other:     #bd93f9;



$border-radius: 8px;
$box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);

$font: "JetBrainsMono Nerd Font";
$title-font-size: 20px;
