snippet #! "python shebang"
#!/usr/bin/env python3
#
# author:   Ablakim Giray Üstün
# date:     `!v strftime("%c")`
#
# descr:    $1
$0
endsnippet

snippet logging "good practice for debugging"
logging.basicConfig(level=logging.DEBUG, format=' %(asctime)s -  %(levelname)s  -  %(message)s')
endsnippet 


snippet pr "print() but cursor within brackets"
print($1)
endsnippet


